<!-- Login View -->
<div class="main__wrap">
  <div class="main__div">
    <h1>Habit Tracker</h1>
    <img src="/assets/images/calender.svg" alt="calender image"/>
    <form class="form__reg" action="/users/login" method="POST">
      <input type="email" id="email" name="email" required class="form-control" placeholder="Enter Email" />
      <button type="submit" class="">Login</button>
    </form>
    <span class="form__regbtn">
      New User? <a href="/users/register">Register</a>
    </span>
  </div>
</div>