<div class="main__wrap">
    <div class="main__div">
        <h1>Habit Tracker</h1>
        <img src="/assets/images/calender.svg" alt="calender image"/>
        <span>Create an account or login</span>
        <div class="main__cta">
            <a href="/users/register">Register</a>
            <a href="/users/login">Login</a>
        </div>
    </div>
</div>